body {
    margin: 0;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    white-space: normal;
    padding: 1px 12px 2px 0;
    margin: 37px 0 0;
}

a {
    text-decoration: none;
}

@media only screen and (min-width: 1085px) {
    .wrapper {
        margin: 0 auto;
        max-width: 80%;
    }
}
@media only screen and (max-width:1084){
    .wrapper {
        margin: 0 auto;
        max-width: 100%;
    }
}

.clearfix::after {
    clear: both;
}

.bigImage {
    width: 100%;
    object-fit: cover;
    height: auto;
}

.header {
    margin: 0 auto;
    padding: 0 2.5%;
    position: relative;
    display: block;
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

.main-image-link {
    margin: 0;
    display: inline-block;
    height: 0;
}

@media only screen and (min-width: 771px) {
    .header-content {
        background-color: rgba(255, 255, 255, 0);
        width: 25%;
        color: white;
        position: absolute;
        top: 25%;
        right: 13%;
    }
}

@media only screen and (max-width: 770px) {
    .header-content {
        background-color: rgb(51, 51, 51);
        text-align: center;
        width: auto;
        color: white;
        padding: 15% 2.5%;
        margin: 0;
    }
}

@media only screen and (min-width: 1420px) {
    .header-content h2 {
        font-weight: 600;
        font-size: 46px;
    }
}

@media only screen and (max-width: 1420px) {
    .header-content h2 {
        font-weight: 600;
        font-size: 24px;
    }
}

.header-content-text {
    margin-bottom: 5px;
}

.section {
    margin: 0 auto;
    padding: 0 2.5%;
    display: block;
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

.link-effect {
    display: inline-block;
    font-weight: 600;
    color: black;
    background-color: white;
    padding: 10px;
}

.link-effect span {
    margin-right: 10px;
    font-weight: 600;
    border-bottom: 0px solid;
    padding-bottom: 2px;
    transition: all .3s;
}

.link-effect span:hover {
    border-bottom: 2px solid;
    margin-right: 15px;
}

@media only screen and (min-width: 1085px) {
    .content {
        float: left;
        width: 25%;
        padding: 32px 12px;
        box-sizing: border-box;
    }
    .content:first-child {
        padding-left: 0;
    }
    .content:last-child {
        padding-right: 0;
    }
}

@media only screen and (max-width: 540px) {
    .content {
        float: none;
        width: 100%;
        padding: 32px 12px;
        box-sizing: border-box;
    }
    .img-hover{
        width:100%;
    }
}

@media only screen and (min-width: 540px) and (max-width: 1085px) {
    .content {
        float: left;
        width: 50%;
        padding: 32px 12px;
        box-sizing: border-box;
    }
}

.content p {
    padding: 2px 2px 0 0;
}

.content img {
    width: 100%;
    height: auto;
}

.img-hover {
    opacity: 1;
    transition: all .3s .1s;
}

.img-hover:hover {
    opacity: 0.85;
}

.content a span {
    display: inline-block;
    color: hsl(206, 100%, 36%);
    text-decoration: none;
    margin-right: 10px;
    font-weight: 600;
    border-bottom: 0px solid;
    padding-bottom: 2px;
    transition: all .3s;
}

.content a span:hover {
    border-bottom: 2px solid;
    margin-right: 15px;
}

.content a {
    display: inline-block;
    font-weight: 600;
    color: hsl(206, 100%, 36%);
    text-decoration: none;
}