body {
    margin: 0;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    white-space: normal;
    padding: 1px 12px 2px 0;
    margin: 37px 0 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

ul li {
    display: inline-block;
}

@media only screen and (max-width:1084) {
    .wrapper {
        margin: 0 auto;
        max-width: 100%;
    }
    .header {
        margin: 0 auto;
        position: relative;
        box-sizing: border-box;
    }
}

@media only screen and (min-width: 1084px) {
    .wrapper {
        margin: 0 auto;
        max-width: 90%;
    }
    .header {
        margin: 0 auto;
        padding: 0 2.5%;
        position: relative;
        display: block;
        box-sizing: border-box;
    }
}

.header {
    position: relative;
}

.imagem {
    width: 100%;
}

.clearfix::after {
    clear: both;
}

.imagem img {
    width: 100%;
    object-fit: cover;
}

.section {
    margin: 0 auto;
    padding: 0 2.5%;
    display: block;
    width: 100%;    
    box-sizing: border-box;
}

@media only screen and (min-width: 771px) {
    .header-content {
        background-color: rgba(255, 255, 255, 0);
        width: 25%;
        color: white;
        position: absolute;
        top: 25%;
        right: 10%;
    }
}

@media only screen and (max-width: 770px) {
    .header-content {
        background-color: rgb(51, 51, 51);
        text-align: center;
        width: auto;
        color: white;
        padding: 15% 2.5%;
    }
    .imagem{
        background-color: rgb(51, 51, 51);
    }
}

@media only screen and (min-width: 1420px) {
    .header-content h2 {
        font-weight: 600;
        font-size: 46px;
    }
}

@media only screen and (max-width: 1420px) {
    .header-content h2 {
        font-weight: 600;
        font-size: 24px;
    }
}

.header-content-text {
    margin-bottom: 5px;
}

.link-effect {
    display: inline-block;
    font-weight: 600;
    color: black;
    background-color: white;
    padding: 10px;
}

.link-effect span {
    margin-right: 10px;
    font-weight: 600;
    border-bottom: 0px solid;
    padding-bottom: 2px;
    transition: all .3s;
}

.link-effect span:hover {
    border-bottom: 2px solid;
    margin-right: 15px;
}

@media only screen and (min-width: 1085px) {
    .content {
        float: left;
        width: 25%;
        padding: 32px 12px;
        box-sizing: border-box;
    }
    .content:first-child {
        padding-left: 0;
    }
    .content:last-child {
        padding-right: 0;
    }
    .img-hover {
        width: 100%;
    }
}

@media only screen and (max-width: 540px) {
    .content {
        float: none;
        width: 100%;
        padding: 32px 12px;
        box-sizing: border-box;
    }
    .img-hover {
        width: 100%;
    }
}

@media only screen and (min-width: 540px) and (max-width: 1085px) {
    .content {
        float: left;
        width: 50%;
        padding: 32px 12px;
        box-sizing: border-box;
    }
    .img-hover {
        width: 100%;
    }
}

.content p {
    padding: 2px 2px 0 0;
}

.content img {
    width: 100%;
    height: auto;
}

.img-hover {
    opacity: 1;
    transition: all .3s .1s;
}

.img-hover:hover {
    opacity: 0.85;
}

.content a span {
    display: inline-block;
    color: hsl(206, 100%, 36%);
    text-decoration: none;
    margin-right: 10px;
    font-weight: 600;
    border-bottom: 0px solid;
    padding-bottom: 2px;
    transition: all .3s;
}

.content a span:hover {
    border-bottom: 2px solid;
    margin-right: 15px;
}

.content a {
    display: inline-block;
    font-weight: 600;
    color: hsl(206, 100%, 36%);
    text-decoration: none;
}


.navbar {
    margin: 0 auto;
    height: 54px;
}
.logo {
    padding: 14px 6px 12px 10px;
    float: left;
}
.logo img {
    width: 108px;
}
.menu {
    float: left;
    height: 100%;
}
.menu ul li:first-child a {
    padding-left: 20px;
}
.menu ul li a {
    padding: 21px 8px 10px;
    font-size: 13px;
    font-weight: 400;
    color: #262626;
    display: inline-block;
}
.nav-right {
    float: right;
    height: 100%;
}
.nav-right ul li a {
    font-size: 13px;
    font-weight: 400;
    padding: 21px 8px 10px;
    display: inline-block;
    /* float: left; */
}
.todamicrosoft {
    color: #262626;
    /* padding-top: 22px;
    margin-right: 15px; */
}
.todamicrosoft::after {
    content: "";
    margin-left: 8px;
    border: solid #262626;
    border-width: 0px 0.1px 0.1px 0px;
    display: inline-block;
}
.buscar {
    color: rgba(0, 0, 0, 0.843);
    /* padding: 11px 0px 0px 15px; */
}
.carrinho {
    color: rgba(0, 0, 0, 0.9)
}
.entrar {
    font-family: Arial !important;
    color: #333333;
    padding-left: 12px;
    padding-top: 25px;
    font-size: 15px !important;
}
.menu-responsivo {
    display: none;
}